:root {
  --banner-height: 8vh;
}

.banner {
  height: var(--banner-height);
  background: white;
  text-align: right;
  font-weight: var(--font-sem);
  font-size: 1.2rem;
  padding-inline: 1rem;
  color: #434343;
  line-height: unset;
}

.logo {
  width: 100%;
  height: var(--banner-height);
  background: url(./images/logo.png) no-repeat center / 80%;
}

.root-panel {
  height: 100%;
}

#root
.slider-menu {
  border-inline-end: none;
}

#root
.slider-menu .ant-menu-submenu-title {
  font-weight: var(--font-sem);
  color: var(--gray-9);
}

@media (orientation: portrait) {
  .root-sider {
    width: 35vw !important;
    max-width: 35vw !important;
    min-width: 35vw !important;
  }

  .root-sider.ant-layout-sider-collapsed{
    width: 0 !important;
    max-width: 0 !important;
    min-width: 0 !important;
  }

  .slider-menu .ant-menu-submenu-title {
    padding-left: 2vw !important;
  }
}
